
body {
    background: #222;
    font-family: codystar, courier new, courier, monospace;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

canvas {
	border: 2px dashed red;	
}

@media screen and (min-width: 980px){
    
    .wrapper {
        margin: 0 auto;
        max-width: 980px;
    }

    .box {
        float: left;
        margin: 0 auto;
        margin-left: 55px;
    }
}